:root {
    --main-color-primary-0: #6392F5; /* Main Primary color */
    --main-color-primary-1: #BBD0FC;
    --main-color-primary-2: #8AADF9;
    --main-color-primary-3: #3F77EE;
    --main-color-primary-4: #1959E1;
    --main-color-primary-5: #e0e3ec;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=13K0u0kleX999ZWfSYBqdUEvCPy */
/* As hex codes */
/* Main Primary color */
/*
.color-primary-0 {  color: #6392F5 }
.color-primary-1 {  color: #BBD0FC }
.color-primary-2 {  color: #8AADF9 }
.color-primary-3 {  color: #3F77EE }
.color-primary-4 {  color: #1959E1 }
*/

body {
    /*background-color: var(--main-color-primary-1);*/
    background-color: #BBD0FC;
}

/* Rounded table */
table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

td, th {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

th {
    /*background-color: var(--main-color-primary-5);*/
    background-color: #e0e3ec;
    border-top: none;
}

td:first-child {
    border-left: none;
}

.modal-header-info {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: lightskyblue;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
