.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin-heading {
    text-align: center;
    padding-bottom: 20px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rodape {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 20px;
    display: block;
    position: fixed;
    bottom: 0;
}

.rodape_logo {
    display: block;
    float: right;
    color: #000;
    margin: 1px 2%;
}

